<%- include("partial/header.ejs") %>

<body>

  <div class="container-fluid header">
    <div class="row">
      <div class="col-12">
        <p class="title">meɪk ɪt ˈhap(ə)n</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="subTitle">TO DO LIST</p>
      </div>
    </div>
  </div>

  <div class="container-fluid content">
    <div class="row">
      <% comments.forEach( (comment)=>{ %>
      <div class="col">
        <div><%= comment.text %></div>
      </div>
      <div class="col">
        <div><%= comment.author %></div>
      </div>


      <div class="col">
        <a href="/update/<%=comment._id%>">UPDATE</a>
      </div>
      <div class="col">
        <a href="/delete/<%=comment._id%>">DELETE</a>
      </div>
  </div>
    <%  }) %>
  </div>



  <div class="addTasks">
    <form action="/createcomment" method="post">

      <input type="text" name="text" id="" placeholder="Task">
      <input type="text" name="author" id="" placeholder="Priority">
      <button type="submit">ADD</button>

    </form>

  </div>
  <div class="page">
    <a href="/comment/?page=1"> 1 </a>
    <a href="/comment/?page=2"> 2 </a>
  </div>

  <%- include("partial/footer.ejs") %>
