<%- include("partial/header.ejs") %>

<body>

  <div class="container-fluid header">
    <div class="row">
      <div class="col-12">
        <p class="title">meɪk ɪt ˈhap(ə)n</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="subTitle">TO DO LIST</p>
      </div>
    </div>
  </div>

  <div class="container-fluid content">
    <div class="row">
      <% tasks.forEach( (task)=>{ %>
      <div class="col-3">
        <div><%= task.todo %></div>
      </div>
      <div class="col-3">
        <div><%= task.priority %></div>
      </div>


      <div class="col-3">
        <a href="/update/<%=task._id%>">UPDATE</a>
      </div>
      <div class="col-3">
        <a href="/delete/<%=task._id%>">DELETE</a>
      </div>

    <%  }) %>
      </div>
  </div>



  <div class="addTasks">
    <form action="/createtask" method="post">

      <input type="text" name="todo" id="" placeholder="Task">
      <input type="text" name="priority" id="" placeholder="Priority">
      <button type="submit">ADD</button>

    </form>

  </div>
  <div class="page">
    <a href="/task/?page=1"> 1 </a>
    <a href="/task/?page=2"> 2 </a>
  </div>

</body>
</html>
